

<main>
  <div class="header mb-3 text-center"> <h3 style="font-size: 4em;">Twitter Data Visualization </h3> </div>
  <section class="graphs p-4">
    <div class="network-graph" >
      <app-social-network-graph></app-social-network-graph>
    </div>

    <div class="stacked-bar-graph">
      <app-stacked-bar-graph></app-stacked-bar-graph>
    </div>
  </section>
</main>
