<div id="info2">
  <h1><i>Stacked Bar Graph</i></h1>
  <h5>
    <ul>
      <li>
        Shows Stacked Bar graph of Twitter data.
      </li>
      <li>
        X-axis: represents time from <mark><em>post_date</em></mark>
      </li>
      <li>
        Y-axis: represents the number of tweets for two attribute values of believes_legitimate
        <mark><em>(true or false)</em></mark>.
      </li>
      <li>
        <em style="color: blue;">Blue </em> represents those users who believed tweet was legit.
      </li>
      <li>
        <em style="color: red;">Red </em> represents those users who believed tweet was <i>not</i> legit.
      </li>
      <li>
        The <mark><b>dropdown-menu</b></mark> widget on the right, shows the number of tweets on a
        <mark><em>hourly</em></mark> basis on each indiviual dates .

      </li>
      <li>
        <b><i style="color: green;">Refresh the page to get a General overall view of the Twitter data</i></b>
      </li>
    </ul>
  </h5>
</div>
<div style="width:1200px; padding: 3% 3%; ">

  <div id="mbars">

    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-animated">
              Messages per hour <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
          <li *ngFor="let date of dropDownItems" role="menuitem"><a (click)="selectedDate = date" class="dropdown-item">{{ date }}</a></li>
      </ul>
    </div>
  </div>
  <div class="stacked-bar-graph-view"></div>
</div>
