<div id="info">
  <h1><i>Social Network graph</i></h1>
  <h5>
      <ul>
          <li>
              Shows how and where tweets are retweeted among different users in a directional graph.
          </li>
          <li>
              Each node represent a user id, and directed edges (arrowed links) from
              connected the <mark><em>retweet_from</em></mark> to <mark><em>user_id</em> </mark>.
          </li>
          <li>
              <em style="color: blue;">Blue nodes</em> represents those users who believed tweet was legit.
          </li>
          <li>
              <em style="color: red;">Red nodes</em> represents those users who believed tweet was <i>not</i> legit.
          </li>
          <li>
              <em style="color: black;">Black nodes</em> represents the retweet_from information.
          </li>
          <li>
              The mouse cursor hover over each node (i.e., the user), shows corresponding <mark><em>user_name</em></mark> to the <mark><em>user id</em></mark>.
          </li>
          <li>
              The single mouse click on each node enlarges them to better enhance the focus and view-ability of nodes
          </li>
          <li>
              Double click bounces them back default size.
          </li>
          <li>
              <b><i style="color: green;">To find different or better orientation of nodes, keep refreshing the page untill you find a proper ditribution.</i></b>
          </li>

      </ul>

  </h5>
</div>
<div class="network-graph-view">
</div>


