path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.twofive {
  opacity: 0.25;
}

path.link.fivezero {
  opacity: 0.50;
}

path.link.sevenfive {
  opacity: 0.75;
}

path.link.onezerozero {
  opacity: 1.0;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  pointer-events: none;
}
#content {
  padding: 7px;
}

#info{
  width: 1000x;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  padding: 5px 5px;
  background-color: grey;
  border-radius: 10px;
}


.axis path,
			.axis line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}

			.axis text {
				font-family: sans-serif;
				font-size: 11px;
			}

			.dot {
				stroke: #000;
			}

			.legend {
				padding: 5px;
				font: 10px sans-serif;
				background: yellow;
				box-shadow: 2px 2px 1px #888;
			}

			#info2{
				width: 1200x;
				height: 250px;
				border: 1px solid #c3c3c3;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-align-content: center;
				align-content: center;
				padding: 5px 5px;
				background-color: grey;
				border-radius: 10px;
			}

			li{
				padding-bottom: 4px;

			}
